:root {
    --primary-color: rgb(102, 51, 153);
    --secondary-color: rgb(147, 197, 253);
    --white: rgb(255, 255, 255);
    --grey: rgb(175, 168, 168);
    --light-grey:rgb(224, 215, 215);
    --black: rgb(0, 0, 0);
    --red:rgb(253, 2, 2);
  }

  .container{
      max-width:25rem;
      margin:auto;
      margin-top:8rem;
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
      0 1px 18px 0 rgb(0 0 0 / 12%);
      padding:2rem 4rem;
  }

  .title{
      margin:0;
      margin-bottom:1rem;
      text-align:center;
  }

  .loginInput{
    width:100%;
      
  }

  .inputContainer{
    margin-bottom: 1rem;
    
  }

  .loginButton{
      width:100%;
      margin-bottom: 1rem;
  }

  .error{
      margin:0.3rem 0;
      font-size:small;
      color:var(--red);
  }

  .footer{
      text-align:center;
      font-weight: 500;
  }

  .signupLink{
      color:var(--primary-color);
      text-decoration: none;
  }